<div class="home" id="home">
  <div class="text-center">
    <h1 class="animated fadeInDown">staffHacker</h1>
    
      <div class="animated fadeInDown"> <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-3x"></i><i class="fa fa-star fa-2x"></i>
      </div>
   
    <section class="animated fadeIn">
      <h3 class>Search for recruiters. Rate recruiters. All in one place.</h3>
      <a href="#about" class="btn btn-default btn-lg sign-up">Sign Up</a>
    </section>

    <aside class="chevron-down animated fadeIn">
    <i class="fa fa-chevron-down fa-3x"></i> 
    </aside>      
  </div>
</div>

<div class="about" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="workers-photo col-md-5 col-xs-12">
        <img class="img-responsive" src="/images/tech_worker.jpg">
      </div>
      <div class="about-section col-md-5 col-xs-12">
        <h3 class="tagline">Working to connect hiring managers with talented recruiters.</h3>
        </br>
        <h4 class="tagline_two">Because we understand that finding good talent can be difficult.</h4>
        </br>
        <p class="sales-pitch">Tech recruiting is a 28 billion dollar industry, and as the demand for
          talent continues to surge, the need for recruiters also increases. Managers need to trust
          that the recruiters they hire are working for their best interest. </p>
        <p class="sales-pitch"></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
       <div class="about-section-two col-md-5 col-xs-12">
        <h3 class="tagline">Creating transparency within the tech recruiting industry.</h3>
        </br>
        <h4 class="tagline_two">Because we know that not all recruiters are created equal.</h4>
        </br>
        <p class="sales-pitch">Staffhacker believes that there must be mutual trust between managers and 
          recruiters. We want to ensure that your managers are connected with the best talent by recruiters
          who truly value the growth of your company.</p>
        <p class="sales-pitch"></p>
      </div>
      <div class="workers-photo col-md-5 hidden-xs">
        <img class="img-responsive" src="/images/portfolio-2.jpg">
      </div>
    </div>
  </div>
</div>

<div class="more-parallax-div hidden-xs">
  <div class="container">
    <div class="row">
      <div class="big_question col-md-10 col-md-offset-1">
        <h1 class="question">How can staffHacker help?</h1>
      </div>  
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="our-services">Our Services</h2>
        <hr class="small">
        <div class="row service-list">
          <div class="service_item col-md-4">
            <i class="fa fa-search fa-5x"></i>
            <h3>
              <strong>Search Recruiters</strong>
            </h3>
            <div class="service-details">
              <p>Search our database for recuiters. Search by name. Search by company.</p>
            </div>
          </div>
          <div class="service_item col-md-4">
            <i class="fa fa-thumbs-up fa-5x"></i>
            <i class="fa fa-thumbs-down fa-5x"></i>
             <h3>
              <strong>Check Ratings</strong>
            </h3>
            <div class="service-details">
              <p>All recruiters have a rating. Rate a recruiter. Find recruiters with the highest rating.</p>
            </div>
          </div>
          <div class="service_item col-md-4">
            <i class="fa fa-comments fa-5x"></i>
             <h3>
              <strong>Leave Comments</strong>
            </h3>
            <div class="service-details">
              <p>Unhappy with a recruiter? Leave a comment. And read comments by other hiring managers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="information hidden-xs" class="pad-section"> 
</div>

  <div class="created-by">
    <div class="container">
      <div class="row col-md-12">
        <center><h2>Development Team</h2></center>
      </div>
      <div class="row">
        <div class="dev-photo col-md-3">
          <div class="photo panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Raven Covington</h2>
            </div>
            <div class="panel-body lead">
            <img src="/images/Raven.jpeg" alt="..." class="img-circle">

            </div>
          </div>
        </div>
        <div class="dev-photo col-md-3">
          <div class="photo panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Oscar Gonzalez</h2>
            </div>
            <div class="panel-body lead">
              <img src="/images/Oscar.jpeg" alt="..." class="img-circle">
    
            </div>
          </div>
        </div>
        <div class="dev-photo col-md-3">
          <div class="photo panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Graig Lawson</h2>
            </div>
            <div class="panel-body lead">
              <img src="/images/Greg.jpeg" alt="..." class="img-circle">
    
            </div>
          </div>
        </div>
        <div class="dev-photo col-md-3">
          <div class="photo panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Ethan Washbourne</h2>
            </div>
            <div class="panel-body lead">
              <img src="/images/Ethan.jpeg" alt="..." class="img-circle">
   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
