<div class="container form-signin recruiter-rating" ng-controller="RecruiterCtrl">
      
      <div class="media">
      <!-- THE HEADER WITH PICTURE AND STARS -->
        <div class="row">
          <div class="col-md-3 recruiter-raiting-picture-col">
            <div class="media-left">
              <a href="#">
                <img class="media-object recruiter-rating" src="http://lorempixel.com/100/100/people" alt="Some Image">
              </a>
            </div>
          </div>

          <div class="col-md-3 name-company">
            <div class="media-body">
              <h1 class="media-heading">{{ recruiter.first_name }} {{ recruiter.last_name }}</h1>
              <h3 class="media-heading">{{ recruiter.company_id }}</h3>
            </div>
          </div>

          <div class="col-md-6">
            STAR RATING GOES HERE
          </div>
        </div>

      <!-- THIS IS THE FORM -->
        <div class="row form">
          <div class="col-md-8">
            <h2 class="form-signin-heading">Submit a Rating</h2>
            <label class="radio-inline">
              <input class="radio-selector" type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="rate" value="1"> 1
            </label>
            <label class="radio-inline">
              <input class="radio-selector" type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="rate" value="2"> 2
            </label>
            <label class="radio-inline">
              <input class="radio-selector" type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="rate" value="3"> 3
            </label> 
            <label class="radio-inline">
              <input class="radio-selector" type="radio" name="inlineRadioOptions" id="inlineRadio4" ng-model="rate" value="4"> 4
            </label>  
            <label class="radio-inline">
              <input class="radio-selector" type="radio" name="inlineRadioOptions" id="inlineRadio5" ng-model="rate" value="5"> 5
            </label>               
            
            <form> 
                <br>
              <textarea id="rating-text-area" class="form-control" rows="5" id="comments" 
              placeholder="Tell us your experience" required="" ng-model="comments"></textarea>

              <button id="create-rating-button" class="btn btn-lg btn-primary" 
                ng-click="createRating()">Add Rating</button>
            </form>
          </div>
        </div>

        <div class="row">
        <br>
          <div class="col-md-12">
            <h2 class="media-heading">Ratings</h2>
            <table>
              <thead>
                <tr>
                  <th>Rating</th>
                  <th>Comments</th>      
                </tr>
              </thead>

               <tbody ng-repeat="rating in recruiter.ratings">
                <tr>
                  <td>{{rating.rate}}</td>
                  <td>"{{rating.comments}}"</td>         
                </tr>
              </tbody>
            </table>          
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

