<div class="container">
	<center>
		<form class="navbar-form">
		  <h3 class="form-signin-heading">Find Recruiters</h3>
		  <input placeholder="Name" type="text" class="form-control" ng-model="recruiterName" autofocus="">
		  <button class="btn btn-lg btn-success" ng-click="findRecruiters()">Search</button>
		</form>
	</center>

<!-- SEARCH RESULTS -->

		<ul class="media-list">
		  <li class="media" ng-repeat="recruiter in recruiters">
		  	<div class="panel panel-default">
  				<div class="panel-body">
				    <div class="media-left">
				      <a href="#">
				        <img class="media-object" src="{{ recruiter.image_url }}" ng-click="getRecruiter(recruiter.id)" alt="...">
				      </a>
				    </div>
				    <div class="media-body">
				      <h3 class="media-heading"><span><a href="#" ng-click="getRecruiter(recruiter.id)"
				               onaftersave="updateGroup(group)">{{ recruiter.first_name }}  {{ recruiter.last_name }}</a></span></h3>
				               <h4>{{ recruiter.company_name }}</h4><br>
				               You don't want a hungry dove down your pants. Can't a guy call his mother pretty without it seeming strange? Amen. And how 
				               {{ rating.recruiter_id }}
				      
				    </div>
				  </div>
				</div>	
		  </li>
		</ul>


	  <!-- <ul>
	    <li ng-repeat="recruiter in recruiters">
	      <span><a href="#" ng-click="getRecruiter(recruiter.id);"
	               onaftersave="updateGroup(group)">{{ recruiter.first_name }}  {{ recruiter.last_name }}</a></span>
	    </li>
	  </ul> -->
</div>


